[mysqld]
# Charset/Collation
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
init-connect='SET NAMES utf8mb4'
skip-character-set-client-handshake

# Avoid deprecated --skip-host-cache; use host_cache_size instead
host_cache_size=0

# Better dev defaults
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_connect_errors=1000